



.container-form form {
  background-color: rgba(92, 87, 87, 0.154);
  display: flex;
  gap:50px;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  min-height: 420px;
  width: 400px;
}

.container-form h2 {
  color: #7978d9;
  font-weight: 500;
}

.container-form form button {
  margin-top: 52px;
}
